@charset "ISO-8859-1";

.nav-link>i{
	margin-top: 4px;
}

.zgFont, .uniFont{
	display: none;
}

.dataTables_scrollHeadInner, .table{ width:100%!important; }


.no-data{
	text-align: center;
}

.required{
  color: #8D818C;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


table thead{
	border-radius: 16px 16px 0px 0px;
	border: 1px solid rgba(13, 70, 113, 0.10);
	background-color: #343a40; 
	color: #EFF9FE;
}